* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    font-family: sans-serif;
}

.landing{
    height: 65vh;
    background-color: #5a5353;
}

.welcome {
    background-color: #d3bfbf;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    overflow-y: hidden;
}
.welcomeSubLeft{
    flex-direction: column;
    margin-top: auto;
    margin-bottom: -125px;
    margin-left: -20px;
    width: 25%;
}

.welcome .welcomeLeft {
    width: 40%;;
    padding-top: 100px;
    justify-content: center;
    padding-right: 20px;
}

.welcome .welcomeRight {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: -10px;
    padding-top: 50px;
}

.welcome h2 {
    font-size: 45px;
    font-weight: bold;
}
.welcome h3 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 22px;
}
.welcome p {
    padding-top: 22px;
    font-size: 20px;
}
/* !!! NAVBAR !!!*/
nav {
    height: 8vh;
    min-height: 50px;
    background:#FFFFFF;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left a img {
    height: 53.75px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.left h3{
    padding-left: 1px;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
        color: #707070;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px;
}

.hamburger{
    display: none;
}
.hamburger div{
    width: 25px;
    height: 3px;
    background-color: rgb(105, 102, 102);
    margin: 5px;
    transition: 0.3s ease-in;
}

@media screen and (min-width: 2400px) {
        /* 1440p monitors only */
    #top-left {
        width: 40%;
    }
}

@media screen and (max-width: 1324px) {
    .nav-links{
        width: 60%;
    }
    #top-right {
        width: 45%;
        margin-right: -25%;
    }
    .welcomeSubLeft {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #betweenMobile{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #top-left {
        padding-top: 1vh;
        width: 90%;
    }
    #top-right {
        display: none;
    }
    #between {
        display: none;
    }

    #betweenMobile {
        position: absolute;
        left: 0;
        margin-left: -2%;
        top: 55vh;
        stroke-dasharray: 195;
        stroke-dashoffset: 195;
        animation: line-anim 2s ease forwards 3.4s;
    }
    .landing{
        height: 52vh;
    }

    .welcome {
        
    }
/* !!! NAVBAR !!!*/
    .hamburger{
        display: block;
        cursor: pointer;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 3;
    }

    .nav-links {
        position: fixed;
        background:  #FFFFFF;
        padding-bottom: 30vh;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 100% -20%);
        transition: all 1s ease-out;
        z-index: 2;
    }
    .nav-links.open{
        clip-path: circle(800px at 65% -10%);
        -webkit-clip-path: circle(800px at 65% -10%);
        pointer-events: all;
        z-index: 2;
    }
    .landing{
        flex-direction: column;
    }
    /* Meet Charlie May */
    #meetCharlieMay {
        position: absolute;
        width: 50%;
        margin-top: -5%;
        left: 70%;
        transform: translateX(-50%);
    }

    .left{
        overflow-y: hidden;
    }
}


/* !!! ANIMATIONS !!!*/

/* !!! NAVBAR !!!*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);    
}


/* Designs */
#top-left {
    padding-top: 2vh;
    height: auto;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    animation: line-anim 2s ease forwards 3.4s;
}

#top-right {
    position: absolute;
    right: 0;
    top: 7vh;
    stroke-dasharray: 165;
    stroke-dashoffset: 165;
    animation: line-anim 2s ease forwards 3.4s;
}

#between {
    position: absolute;
    left: 0;
    bottom: 22vh;
    stroke-dasharray: 195;
    stroke-dashoffset: 195;
    animation: line-anim 2s ease forwards 3.4s;
}

/* Meet Charlie May */
#meetCharlieMay {
    position: absolute;
    left: 50%;
    top: 34vh;
    font-size: 1.2em;
    animation: fill-anim 0.5s ease forwards 3s;
}

/* LOGO */

#anim1_1 {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 2s ease forwards 3s;
}

#anim1_2 {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 3.25s;
}

#anim2_1{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 3.5s;
}

#anim2_2{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 3.75s;
}

#anim2_3{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 4s;
}

#anim3_1{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 4s;
}

#anim3_2{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 4.25s;
}

#anim4_1{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 4.25s;
}

#anim4_2{
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: line-anim 1s ease forwards 4.5s;
}

#anim5 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 1s ease forwards 4.75s;
}

#anim6 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 1s ease forwards 5s;
}

#Ellipse_33, #Ellipse_34 {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 1s ease forwards 4s;
}

/* Meet */
#meetCharlieMay path:nth-child(1) {
    stroke-dasharray: 314.55279541015625;
    stroke-dashoffset: 314.55279541015625;
    animation: line-anim 2s ease forwards;
}
#meetCharlieMay path:nth-child(2) {
    stroke-dasharray: 214.69305419921875;
    stroke-dashoffset: 214.69305419921875;
    animation: line-anim 2s ease forwards 0.2s;
}
#meetCharlieMay path:nth-child(3) {
    stroke-dasharray: 214.69480895996094;
    stroke-dashoffset: 214.69480895996094;
    animation: line-anim 2s ease forwards 0.4s;
}
#meetCharlieMay path:nth-child(4) {
    stroke-dasharray: 131.22903442382812
    ;
    stroke-dashoffset: 131.22903442382812
    ;
    animation: line-anim 2s ease forwards 0.6s;
}


/* Charlie */
#meetCharlieMay path:nth-child(5) {
    stroke-dasharray: 211.89674377441406;
    stroke-dashoffset: 211.89674377441406;
    animation: line-anim 2s ease forwards 0.8s;
}

#meetCharlieMay path:nth-child(6) {
    stroke-dasharray: 199.07008361816406;
    stroke-dashoffset: 199.07008361816406;
    animation: line-anim 2s ease forwards 1s;
}
#meetCharlieMay path:nth-child(7) {
    stroke-dasharray: 211.019287109375;
    stroke-dashoffset: 211.019287109375;
    animation: line-anim 1.8s ease forwards 1.2s;
}
#meetCharlieMay path:nth-child(8) {
    stroke-dasharray: 102.51023864746094;
    stroke-dashoffset: 102.51023864746094;
    animation: line-anim 1.6s ease forwards 1.4s;

}
#meetCharlieMay path:nth-child(9) {
    stroke-dasharray: 99.72004699707031;
    stroke-dashoffset: 99.72004699707031;
    animation: line-anim 1.4s ease forwards 1.6s;
}
#meetCharlieMay path:nth-child(10) {
    stroke-dasharray: 99.92046356201172;
    stroke-dashoffset: 99.92046356201172;
    animation: line-anim 1.2s ease forwards 1.8s;
}
#meetCharlieMay path:nth-child(11) {
    stroke-dasharray: 214.6934814453125;
    stroke-dashoffset: 214.6934814453125;
    animation: line-anim 1s ease forwards 2.0s;
}

/* May */
#meetCharlieMay path:nth-child(12) {
    stroke-dasharray: 314.55279541015625;
    stroke-dashoffset: 314.55279541015625;
    animation: line-anim 1.4s ease forwards 1.6s;
}

#meetCharlieMay path:nth-child(13) {
    stroke-dasharray: 211.01914978027344;
    stroke-dashoffset: 211.01914978027344;
    animation: line-anim 1.2s ease forwards 1.8s;
}
#meetCharlieMay path:nth-child(14) {
    stroke-dasharray: 178.9259033203125;
    stroke-dashoffset: 178.9259033203125;
    animation: line-anim 1s ease forwards 2.0s;
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-anim{
   
    from{
        fill:transparent;
    }
    to {
        fill: white;
    }
}